@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
  	   local('MaterialIcons-Regular'), 
  	   url('../font/material-design-icons/MaterialIcons-Regular.woff') format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



.helpicon {
  float: left;
  background-color: #26A69A;
}
.helpicon:hover {
  background-color: #00897B;
}

.emoji {
  height: 2.1em;
}

.navinfo {
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

#helpinfo {
  z-index: 9;
}
#helpinfo .modal-content a {
  color: #2196F3;
  text-decoration: underline;
}
#helpinfo .modal-content h4 {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.helpinfomain {
  color: #2196F3;
}





.timer {
  height: 20px;
  margin-bottom: 0px;
  z-index: 1;
}

#timernum {
  z-index: 3; 
  position: absolute; 
  height: 20px;
  width: 100%; 
  color: black; 
  text-align: center;  
}

#timerbar {
  background-color: pink;
  height: 10px;
  font-size: 10px;
  padding-left: 0%;
  z-index: 2;
}






.board .col {
  padding: 0 0 0 0;
}

.grid {
  padding: 10px;
}

.fadeout {
  transition: 0.5s linear all;
}

.piece {
  border-radius: 40px;
  padding: 40px 0px;
}








.who label,
.difficultylevel label:not(.is-disabled),
.boardsize label {
  color: black;
}



.statixname {
  width: 260px;
  display: inline-block;
}





.infoid {
  color: #009688;
}

.movecounter {
  color: #FF9800;
}

.win {
  color: #E91E63;
}

.monitor {
  margin-top: 20px;
}

#monitorinfo,
#matrixinfo {
  height: 150px;
  display: block;
  overflow: auto;
}

.infoitem0,
.infoitem0 span {
  background-color: #E0E0E0;
}
.infoitem1 {
  
}
.time {
  float: right;
}